body {
  font-family: 'Cantora One', sans-serif;
}

#title {
  margin: 40px 0 0 100px;
  text-decoration: underline;
}

div.container {
  border: 2px solid black;
  width: 400px;
  background: #F5DEB3;
}

div.internal {
  padding: 30px;
}

div.internal input{
  display:block;
  padding: 5px;
  margin: 10px auto;
}

div.internal h3 {
  padding: 0;
}


#header {
  width: 100%;
  height: 40px;
  /*position: fixed;*/
  background: #000000;
  margin-bottom: 20px;
}

#logout a{
  float: right;
  margin-right: 20px;
  padding-top: 10px;
  color: #79527a;
}

#welcome {
  float:left;
  font-size: 20px;
  margin-left: 10px;
  margin-top:8px;

  color: #9b9b9b;
}

#welcome a,
.links a {
  color: white;
  text-decoration: none;
}

#welcome a:hover,
#logout a:hover,
.links a:hover,
#create:hover {
  color: red;
  text-decoration: underline
}

.links {
  padding-top: 10px;
  color:white;

}

.responses {
  margin-left: 50px;
}

.add {
  color:blue;
  padding:10px;
}

.question {
  border-top: 1px dotted black;
}

.create_response {
  margin-left: 10px;
}

.create_response input{
  margin: 3px;
}

.create-survey {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  color: #79527a;
}

.my-profile {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  color: #79527a;
}

.log-in {
  margin-left: 10px;
  margin-top: 200px;
  width: 200px;
  float: left;
}

.squid-photo {
  float: left;
}

.sign-up {
  margin-top: 200px;
  width: 250px;
  float: left;
}

.container {
  margin: 0 auto;
}

.input {
  margin-bottom: 5px;
  float: left;
}

#create {
  text-decoration: none;
  color: white;
  padding-top: 2px
}
