<form class='create_response' action='/surveys' method='post'>

  <input type='text' name='title' placeholder='Title' />
  <br>
  <input type ='submit' value='Create Survey'>
  <br>
  <span id="add_question">Add Question</span>
  <br>
 <!--  <label for='question1'>Question1: </label>
  <input type='text' name='question1' placeholder='Question' /> -->
  <br>
  <!-- <span id="add_response">Add Response</span> -->

  
</form>
