<h1>Click on questions to get data:</h1>
<ul>
<% @questions.each do |question| %>
  <li><a href='<%= question.survey_id %>/questions/<%= question.id %>/results'><%= question.content %></a></li>
<% end %>
</ul>
